%div.col-md-4
  %div.panel-heading{:style=>"color: #23648d; font-weight: bolder;font-size:16px;"}
    %b
      %center
        ="MINISTRY OF CIVIL AVIATION"
        %br
        ="VIP REFERENCES MONITORING SYSTEM"
        %br
      %u
        =" Section-wise disposal summary"

  %div.panel-body
    %table.table.table-striped
      -if !@sectionsbydisposal.nil?
        %tr{:style=>'background-color: #F8F8F8; border:1px solid black;'}
          %td
            %b="S.No."
          %td
            %b= "Section"
          %td
            %b= "Total"
          %td
            %b= "Closed"
          %td
            %b= "Pending"
          %td
            %b= "Disposal Rate"
            
            
        - @sectionsbydisposal.try :each_with_index do |section,index|
          %tr  
            %td= index+1       
            %td= section.name
            %td= "#{section.vip_references.vip.count}"
            %td= "#{section.vip_references.vip.closed.count}"          
            %td= "#{section.vip_references.vip.pending.count}"
            %td= "#{(section.vip_references.vip.closed.count*100/section.vip_references.vip.count.to_f).round()}%"


