-content_for :draft_count do 
  = "[#{@vip_references.count}]"


%div.row
  %div.col-md-12.col-md-offset-4
    = form_tag '/vip_references' , :method=>'get' do |f|

      %div.row
        %div.col-md-4
          %label.col-md-4="Category:"
          %div.col-md-8= select_tag "category_id",options_from_collection_for_select(Category.all, "id", "name","#{params[:category_id]}"),:onChange => "$(this).closest('form').attr('action', '#{ vip_ref_app_draft_path(format: :html) }');$(this).closest('form').submit();",  :class=>'form-control'

        - if current_user.contact.designation.designation_code != 'SO' 
          %div.col-md-4
            %label.col-md-4="View As:"
            - if current_user.sections.count == 0
              %div.col-md-8= ""
            - else
              %div.col-md-8=select_tag "section_id",options_from_collection_for_select(current_user.sections, "id", "name","#{params[:section_id]}"),:onChange => "$(this).closest('form').attr('action', '#{ vip_ref_app_draft_path(format: :html) }');$(this).closest('form').submit();",  :class=>'form-control'
                  


    %div.row.top-buffer

%div.panel.panel-info
  %div.panel-heading="Draft References  (#{@vip_references.total_entries})(Not to be included in pendency)"
  %div.panel-body
    %table.table.table-striped
      -if !@vip_references.nil?
        %tr{:style=>'background-color: #F8F8F8; border:1px solid black;'}
          %td
            %b= "S.No."
          %td
            %b= "Letter No."
          %td
            %b= "Letter Date"
          %td
            %b
              ="Diary Date"
              %i{:class=>"glyphicon glyphicon-sort-by-attributes"}

          %td
            %b= "Subject"
          %td
            %b= "Dealing Section"
          %td
            %b= "Status"
          %td
            %b= "VIP Category"
          %td
            %b= "Created On"
          %td
            %b= "Quick Action"
        
      - @vip_references.try :each_with_index do |reference,index|
        -if index%2==0
          %tr.odd{:style=>'border-bottom:1px solid #BCE8F1;'}
            = render 'draft',:reference => reference, :index=> index
        -else
          %tr.even{:style=>' border-bottom:1px solid #BCE8F1;'}
            = render 'draft',:reference => reference, :index=> index

      %tr
        %td{:colspan=>'10'}
          %center= will_paginate @vip_references
          
